*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    display: flex;
}
.innerDiv{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 25px;
    background-color:rgb(106 249 47);
    width: 25vw;
}
label{
    color: #f30070
}
.input{
    border: none;
    outline: none;
    color: #020099;
}
.input:focus{
    background-color: darkgrey;
    color: red;
}
.inputPadding{
    margin:5px 0;
    font-size: 24px;
}
.buttonDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.buttonRight{
    justify-content: end;
}
.button{
    width: 80px;
    font-size: 10px;
    padding: 7px 4px;
}
.hoverButton:hover{
    background-color: rgb(80, 97, 245);
    border: 2px solid rgb(80, 97, 245);
}
.welcome_headding{
    text-align: center;
    color: red;
}
.welcome_headding:hover{
    rotate: 2deg;
}

.welcome_headding::after{
    content: "";
    display: block;
    border-bottom: 2px solid red;
    transform: scale(0);
    transition: transform 800ms;
}
.welcome_headding:hover::after{
    transform: scale(1);
}

@media screen and (max-width: 600px) {
    .innerDiv{
        width: 300px;
    }
    .welcome{
        padding: 20px 5px;
        width: 300px;
    }
    .button{
        width: 80px;
        font-size: 10px;
        padding: 7px 4px;
    }
}